*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-primary: #d6d6d6;
    --color-secondary: ;
    --image-body: url('https://cdn.pixabay.com/photo/2015/01/20/11/09/black-605334_1280.jpg');
}
body{
    height: 100vh;
    width: 100%;
    background-image: var(--image-body);
    background-position: start;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    width: 100%;
    padding: 15px 0;
    background-color: rgba(190, 190, 190, 0.007);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header  a {
    text-decoration: none;
}
.header .logo{
    font-size: 25px;
    font-weight: bold;
    color: var(--color-primary);
}
.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
}
.header nav .navegar{
    text-decoration: none;
    font-family: sans-serif;
    margin: 0 10px;
    color: #d6d6d6;
    font-size: 17px;
    transition: 3s;
}
.header nav .navegar:hover {
    border-bottom: 1px solid #d6d6d6;
}
.header nav .contact {
    border: 1px solid #d6d6d6;
    padding: 5px 30px;
    color: #d6d6d6;
    font-size: 17px;
    border-radius: 1.25rem;
}
.header nav .contact:hover {
    background: #d6d6d6;
    padding: 5px 30px;
    color: #1f1b1b;
    font-size: 17px;
    border-radius: 1.25rem;
    transition: .5s;
}

main {
    padding: 0 3.125rem;
}
.section_content {
    width: 100%;
    height: 100vh;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.section_content .title {
    font-size: 50px;
    font-weight: bold;
}
.section_page_1 {
    background: #dfdfdf;
    width: 100%;
    height: 100vh;
}